---
---

@import "{{ site.theme }}";

@import url('https://fonts.googleapis.com/css?family=Righteous');

h1, h2, h3 {
	font-family: 'Righteous', cursive;
	line-height: 1.3;
	font-weight: normal;
}
img .logo-makered.png {
 position:relative;
 margin:0 auto;
 max-height: 50px;
 max-width:650px;
 padding:5px;
 margin:10px 0 32px 0;
 border:1px solid #ccc
}
img .logo-TSL.jpg {
 max-height: 50px;
 max-width:650px;
}
